
/*////////////////////NAV///////////////////*/

ul li { display: inline-block;

font-family: sans-serif;
font-weight: 100;
        border-bottom: 1px solid black;
line-height: 60px;
}

ul {
text-align: center;
}

ul li a {text-decoration: none;
margin-left: 50px;
margin-right: 50px;

}
a:hover{color:darkgoldenrod;}

body{
    font-family:sans-serif;
}
h1{
    text-align:center;
}
p{
    text-align:center;
}
img{
    height:auto;
    width:100px;
    display:inline;
    margin-top:10px;
}
.side{
    display:inline;
    height:100px;

}
footer{
    height: 40px;
    position:relative;
    bottom:0;
    background:grey;

}
footer p{
    padding-top:10px;
    color:darkslategrey;
}

